* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "JetBrains Mono", sans-serif;
  --font-xsm: 400 0.3rem var(--font-family);
  --text-sm: 400 1.1rem var(--font-family);
  --text-md: 600 1.25rem var(--font-family);
  --text-xmd: 600 1.4rem var(--font-family);
  --text-lg: 700 2rem var(--font-family);
  --background-color-primary: #e99c50;
  --background-color-secondary: #00000099;
  --background-color-tertiary: #ffffff1a;
  --background-color-quaternary: #08f0e0;
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-button-verify: #ff8000;
  --text-color-button-reset: #00a99d;
  --text-color-span: #E53935;
  --text-color-result: #21f705;
}

body {
  font-family: var(--font-family);
  color: var(--text-color-secondary);
  background: url('../images/super-herois.jpeg') center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1.5rem 0;
  min-height: 100vh;
}

.background-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-secondary);
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 40rem;
  padding: 1.25rem;
  background: var(--background-color-tertiary);
  border-radius: 0.5rem;
  backdrop-filter: blur(0.5rem); /* Efeito de desfoque */
}

header {
  width: 100%;
  border-bottom: 1px solid #000;
}

h1 {
  font: var(--text-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

h2 {
  font: var(--text-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

h2 span {
  display: inline;
  font: var(--text-md);
  color: var(--text-color-span);
}


@media (max-width: 480px) {
  .container {
    max-width: 90%;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
    display: inline-block;
  }

  h2 span {
    display: inline-block;
    margin-top: 0.3rem;
    font: var(--text-md);
  }

  footer {
    display: none !important;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  h2 {
    font: var(--text-md);
  }

  h2 span {
    display: inline-block;
    margin-top: 0.3rem;
    font: var(--text-xmd);
  }

  footer {
    display: none !important;
}
}


